BLOCK RESETPATHS;
BLOCK ASYNCPATHS;

LOCATE COMP "i_clk" SITE "G2";
IOBUF  PORT "i_clk" PULLMODE=NONE IO_TYPE=LVCMOS33;
FREQUENCY PORT "i_clk" 50 MHZ;

LOCATE COMP "sclk" SITE "B15";  # Pin 22 bottom-row/outer-row
IOBUF PORT "sclk" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

LOCATE COMP "mosi" SITE "B17";  # Pin 23 bottom-row/outer-row
IOBUF PORT "mosi" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

LOCATE COMP "miso" SITE "C16";  # Pin 24 bottom-row/outer-row
IOBUF PORT "miso" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

LOCATE COMP "cs_n" SITE "D14";  # Pin 25 bottom-row/outer-row
IOBUF PORT "cs_n" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

LOCATE COMP "data_ready" SITE "D13";  # Pin 26 bottom-row/outer-row
IOBUF PORT "data_ready" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

LOCATE COMP "rst_n" SITE "D6"; # Push Button PWR (inverted logic)
IOBUF PORT "rst_n" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;